@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* bg-[#F8FAFC] */
  /* Helping All People Locate Entrepreneurs */
}

@layer base {
  input {
    @apply w-full border-gray-500 border outline-none py-2 pl-1;
  }
}
